/* This is the main CSS file which runs on styling for the App.*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #99ccff;
  font-size: 16px;
}
.container {
  max-width:1300px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.mynav{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  z-index:1;
  position: absolute;
}
.mytable{
  top: 120px;
  border-spacing: 30px;
  table-layout: auto;
  width: 60%;
  min-width: 300px;
  position: absolute;
  overflow: hidden;
}
.difful{
  color:yellow;
  z-index:1;
  position: fixed;
  overflow: hidden;
  opacity: 1;
}

.logoutbtn{
  position:relative;
  float:right;
  right: 30px;
}
.link-lookalike{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #cc3300;
  border: none;
  background: none;
  cursor: pointer;
}
.open-textbox{
  font-size: 16px;
}
.dropdown-box{
  font-size: 16px;
}
.lowerbar{
  z-index:1;
  position: absolute;
  overflow: hidden;
  opacity: 1;
}
#signinButton{
  width: 100%;
  text-align: center;
  margin: auto;
}
#result{
  width: 100%;
  text-align: center;
  margin: auto;
}
.login_opener{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
a{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #cc3300;
}

td{
  vertical-align: text-top;
  word-wrap: break-word;
  width: 30%;
  min-width: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
    opacity: 1;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3399ff;
}
