<!-- This page allows the signed-in user to delete the Category that -->
<!-- he/she owns. Note that all Items that are currently still tagged -->
<!-- to this Category will also be deleted. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="mynav">
      <ul>
        <li><a  href='{{url_for('MyCatalog')}}'> Home</a></li>
        <li class="logoutbtn">
          {% if login_button == 1 %}
            <a class="active" href="{{url_for('showLogin')}}" style="float:right"> Login </a>
          {% else %}
            <a class="active" href="{{url_for('gdisconnect')}}" style="float:right"> Logout </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </head>
  <body>
    <div class="container">
      <table class="mytable">
        <td>
          <h1> Delete category </h1>
          <h3> Are you sure you want to delete {{subcatalog.name}}? </h3>

          <form method = 'post' action='{{ url_for('DeleteSubcatalog',subcatalog_name = subcatalog.name)}}' onsubmit="return confirm('Are you sure?');">
            <input type='submit' value = 'Submit' class="link-lookalike">
            <span> | </span>
            <a href= '{{url_for('MyCatalog')}}'>Cancel</a>
          </form>

        </td>
      </table>
    </div>
  </body>
</html>
