<!-- This allows the signed-in user to edit an existing Category. -->
<!-- The user will be able to select 2 values to edit: the name of the -->
<!-- Category and the Description of it. Note that once the Category -->
<!-- Name is changed, this is a Unique change; i.e. no other Categories -->
<!-- can share the same Name. Once the Category's name is changed, the -->
<!-- Items that are tagged to the Category pre-change will also be -->
<!-- tagged to the Category post-change. Note that for now, the -->
<!-- Descriptions cannot be changed without a Name change. The program -->
<!-- will deny a Descriptions-only change. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="mynav">
      <ul>
        <li><a  href='{{url_for('MyCatalog')}}'> Home</a></li>
        <li class="logoutbtn">
          {% if login_button == 1 %}
            <a class="active" href="{{url_for('showLogin')}}" style="float:right"> Login </a>
          {% else %}
            <a class="active" href="{{url_for('gdisconnect')}}" style="float:right"> Logout </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <script>
    function validateForm() {
      var x = document.forms["myForm"]["myname"].value;
      if (x == "") {
          alert("Name must be filled out.");
          return false;
      }
      '{% for i in subcatalog %}'
          if(x=='{{i.name}}'){
            alert("Name must be unique and not added by others before.");
            return false;
          }
      '{% endfor %}'
    }
    </script>
  </head>
  <body>
    <div class="container">
      <table class="mytable">
        <td>
          <h1> Edit existing category </h1>
          <form name = 'myForm' method = 'POST' action='{{url_for('EditSubcatalog', subcatalog_name= localsub.name)}}' onsubmit="return validateForm()">
            <span> Catalog name</span>
            <br>
            <input type = 'text' size='30' name = 'myname' placeholder = 'Category name (no repeats)' value ='{{localsub.name}}' class="open-textbox">
            <br>
            <br>
            <span> Description</span>
            <br>
            <input type = 'text' size='100' name = 'mydescription' placeholder = 'Category description' value ='{{localsub.description}}' class="open-textbox">
            <br>
            <br>
            <input type='submit' value='Submit' class="link-lookalike">
            <span> | </span>
            <a href= '{{url_for('MyCatalog')}}'>Cancel</a>
          </form>

        </td>
      </table>
    </div>
  </body>
</html>
