<!-- This allows the signed-in user to edit an existing Item that he/she -->
<!-- owns. The user will be able to make changes to 3 sets of data: -->
<!-- the name of the Item, the description, and the Category to tag it to. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="mynav">
      <ul>
        <li><a  href='{{url_for('MyCatalog')}}'> Home</a></li>
        <li class="logoutbtn">
          {% if login_button == 1 %}
            <a class="active" href="{{url_for('showLogin')}}" style="float:right"> Login </a>
          {% else %}
            <a class="active" href="{{url_for('gdisconnect')}}" style="float:right"> Logout </a>
          {% endif %}
        </li>
      </ul>

    </nav>
  </head>
  <body>
    <div class="container">
      <table class="mytable">
        <td>
          <h1> Edit existing item </h1>
          <form method = 'POST' action='{{ url_for('EditItem',subcatalog_name = subcatalog_name, item_name=item.name)}}' onsubmit="return confirm('Are you sure?');">
            <span> Item name</span>
            <br>
            <input type = 'text' size='30' name = 'myname' placeholder = '{{item.name}}' value ='{{item.name}}' class="open-textbox">
            <br>
            <br>
            <span> Description</span>
            <br>
            <input type = 'text' size='100' name = 'mydescription' placeholder = '{{item.description}}' value ='{{item.description}}' class="open-textbox">
            <br>
            <br>
            <span> Category</span>
            <br>
            <select name = 'mycategory' placeholder = '{{subcatalog_name}}' class="dropdown-box">
              {% for i in subcatalog %}
              <option value="{{i.name}}">{{i.name}}</option>
              {% endfor %}
            </select>
            <br>
            <br>
            <input type='submit' value='Submit' class="link-lookalike">
            <span> | </span>
            <a href= '{{url_for('UpdateCatalog',subcatalog_name=subcatalog_name)}}'>Cancel</a>
          </form>

        </td>
      </table>
    </div>
  </body>
</html>
