<!-- This file takes the signed-in user to create a new item. Note that -->
<!-- creating a new item is only allowed if the user has a unique Category -->
<!-- already created that allows the Item to be tagged to. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="mynav">
      <ul>
        <li><a  href='{{url_for('MyCatalog')}}'> Home</a></li>
        <li class="logoutbtn">
          {% if login_button == 1 %}
            <a class="active" href="{{url_for('showLogin')}}" style="float:right"> Login </a>
          {% else %}
            <a class="active" href="{{url_for('gdisconnect')}}" style="float:right"> Logout </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <script>
    function validateForm() {
      var y = document.forms["myForm"]["mycategory"].value;
      if (y==""){
        alert("No categories associated with user. Please create a new category first")
        return false;
      }
      var x = document.forms["myForm"]["myname"].value;
      if (x == "") {
          alert("Name must be filled out.");
          return false;
      }
    }
</script>
  </head>
  <body>
    <div class="container">
      <table class="mytable">
        <td>
          <h1> Add new item </h1>
          <form method = 'POST' name = 'myForm' action='{{url_for('AddItem')}}' onsubmit="return validateForm()">
            <span> Item name</span>
            <br>
            <input type = 'text' size='30' name = 'myname' placeholder = 'Soccer ball' class="open-textbox">
            <br>
            <br>
            <span> Description</span>
            <br>
            <input type = 'text' size='100' name = 'mydescription' placeholder = 'A ball for goal mastery' class="open-textbox">
            <br>
            <br>
            <span> Category</span>
            <br>
            <select name = 'mycategory' class="dropdown-box">
              {% for i in subcatalog %}
              <option value='{{i.name}}'>{{i.name}}</option>
              {% endfor %}
            </select>
            <br>
            <br>
            <input type='submit' value='Submit' class="link-lookalike">
            <span> | </span>
            <a href= '{{url_for('MyCatalog')}}'>Cancel</a>
          </form>

        </td>
      </table>
    </div>
  </body>
</html>
