<!-- This page allows the user to create a new Category that will be -->
<!-- wholy owned by him/herself. This page will be created without any -->
<!-- Items; whereas later on Items created can be tagged to this Category. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <nav class="mynav">
      <ul>
        <li><a  href='{{url_for('MyCatalog')}}'> Home</a></li>
        <li class="logoutbtn">
          {% if login_button == 1 %}
            <a class="active" href="{{url_for('showLogin')}}" style="float:right"> Login </a>
          {% else %}
            <a class="active" href="{{url_for('gdisconnect')}}" style="float:right"> Logout </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <script>
    function validateForm() {
      var x = document.forms["myForm"]["myname"].value;
      if (x == "") {
          alert("Name must be filled out.");
          return false;
      }
      '{% for i in subcatalog %}'
          if(x=='{{i.name}}'){
            alert("Name must be unique and not added by others before.");
            return false;
          }
      '{% endfor %}'
    }
</script>
  </head>
  <body>
    <div class="container">
      <table class="mytable">
        <td>
          <h1> Add new category </h1>
          <form name = 'myForm' method = 'POST' action='{{url_for('AddSubCatalog')}}' onsubmit="return validateForm()">
            <span> Catalog name</span>
            <br>
            <input type = 'text' size='30' name = 'myname' placeholder = 'Category name (no repeats)' class="open-textbox">
            <br>
            <br>
            <span> Description</span>
            <br>
            <input type = 'text' size='100' name = 'mydescription' placeholder = 'Category description' class="open-textbox">
            <br>
            <br>
            <input type='submit' value='Submit' class="link-lookalike">
            <span> | </span>
            <a href= '{{url_for('MyCatalog')}}'>Cancel</a>
          </form>

        </td>
      </table>
    </div>
  </body>
</html>
